

<div class="mainTodoCardContainer">
    <div class="mainTodoCard">
        <!--CardHeader:: BEGIN-->
        <div class="cardHeader">
            <div class="todoLogoContainer">
                <img src="../../assets/images/todo-logo.svg" alt="logo image" class="todoLogo">
            </div>
            <!-- Main Card Add New Button -->
            <!-- On click: show floating buttons -->
            <div  class="addNewButtonContainer  hideFloatingButtons main--content--add--new--button--container ">
                
                <div class="addNewTaskButton main--content--add--new--button">
                    <img src="../../assets/images/add-button.svg">
                </div>

                <!-- Floating Buttons position depends on position of New Task Button -->
                <div class="floatingButtons  addCardFloatingButton floating--button floating--button--add--card">
                    <div class="floatingButtonContent">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    </div>
                    <span class="buttonDescription">
                        Card
                    </span>
                </div>
                <div class="floatingButtons  addTaskFloatingButton floating--button floating--button--add--task">
                    <div class="floatingButtonContent">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </div>
                    <span class="buttonDescription">
                        Task
                    </span>
                </div>
            </div>
        </div><!--CardHeader:: END-->
        <!-- Card Body :: BEGIN -->
        <div class="cardBodyContainer main--card--body--container">
            <div class="cardBodyContent main--card--body--content">
                <h2 class="mainTodoCardTitle">
                    Oldest Tasks
                </h2>

                <ul class="oldestTaskListContainer tasks--list--container oldest--task--container">	
                    <!-- Dynamically filled content -->
                    <app-todo-task></app-todo-task>
                </ul>
            </div>
        </div><!-- Card Body :: END -->

    </div>
</div>