
<li class="todoTaskItem taskItemContainer todo--task--item" data-task-id="${this.todoTaskID}">
  <div class="inputGroup">
      <div class="absolutePositionedPrefix">
          <div class="customCheckbox">
              <input type="checkbox" name="task status" 
              class="task--done--status" id="todo--card--task--status${randomCheckboxID}">
              <label for="todo--card--task--status${randomCheckboxID}"></label>
          </div>
      </div>											
      <input type="text" class="inputGroupDescription" name="todo card description" 
      readonly="readonly" value="Task description for now">
  </div>
  </li>