
<li class="todoTaskItem taskItemContainer" 
    [attr.data-task-id] = "task.id"
    [ngClass] = "{'taskChecked': taskChecked }">
    
    <div class="taskItemContent">
        <div class="inputGroup">
            <!--Custom Checkbox Group :: BEGIN-->
            <div class="absolutePositionedPrefix">
                <div class="customCheckbox">
                    <input type   = "checkbox"
                        name      = "task status"
                        class     = "task--done--status"
                        [checked] = "task.checked">
                    <!--Random Task Number required for the custom checkbox-->
                    <label 
                        (click)='todoTaskStatusChanged()'>
                    </label>
                </div>          
            </div>	
            <!--Custom Checkbox Group :: BEGIN-->										
            <input class      = "inputGroupDescription"
                   type       = "text"
                   name       = "todo card description"
                   [readonly] = "taskDescriptionDisabled"
                   (blur)     = "onTaskDescriptionChange()"
                   (keyup.enter)= "onTaskDescriptionChange()"
                   value      = "{{task.description}}"
                   #todoTaskInput>
        
        
        
        <!--DropDown Menu Button :: BEGIN -->
            <a class          = "taskMenuButton"
               (click)        = 'toggleTaskDropdownMenu()'
               (clickOutside) = 'closeDropdownMenu()'
                cursor-pointer-directive>
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </a>
        <!--DropDown Menu Button :: END -->        
        </div>
        <!--Dropdown Menu :: BEGIN  -->
        <div class="todoTaskDropdownMenu"
            [ngClass] = "{'showTodoTaskDropdownMenu': showTaskDrpodownMenu}">
            <div class="dropDownMenuContainer">
                <ul class="dropdownMenuList">
                    <li class="dropdownMenuItem">
                        <a class   = "dropdownMenuLink"
                           (click) = 'enableTaskDescriptionChange($event)'
                            cursor-pointer-directive>
                            Edit Task
                        </a>
                    </li>
                    <li class="dropdownMenuItem">
                        <a class   = "dropdownMenuLink"
                           (click) = 'deleteTask($event)'
                            cursor-pointer-directive>
                            Delete Task
                        </a>
                    </li>
                </ul>
            </div>	

        </div> <!--Dropdown Menu :: END  -->
    </div>
    
</li>